
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --grey-400-25: hsl(212, 6%, 44%, 0.25);
    --white: hsl(0, 0%, 100%);
    --whiteish: ghostwhite;
}

body {
    font-family: Popins, sans-serif;
    font-size: clamp(0.9em, 1em, 1.2em);
    font-weight: 100;
    background-color: var(--whiteish);
    display: flex;
    flex-direction: column;
}

header, main {
    max-width: 75em;
    margin: 2em auto;
    padding: 2em 2em;
}

header {
    padding-bottom: 0;
    max-width: 30em;

    h1 {
        text-align: center;
        font-size: 1.15rem;
        font-weight: 100;
        letter-spacing: 0.17rem;
        padding-bottom: 0.3rem;
    }

    h2 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        padding-bottom: 1.5rem;
    }

    p {
        text-align: center;
        letter-spacing: 0.06rem;
        font-size: 0.95rem;
    }
}

main {
    display: grid;
    align-items: center;

    .card {
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 1rem;
        background-color: var(--white);
        box-shadow: 0.5rem 0.5rem 1rem var(--grey-400-25);
        overflow: hidden;

        h2 {
            padding: 1rem 0;
            font-size: 1.1rem;
        }

        p {
            padding: 0.5rem 0;
            font-size: 0.9rem;
        }

        picture {
            display: flex;
            justify-content: end;
            margin-bottom: 1rem;
        }
    }

    .card-supervisor {
        grid-area: s;
    }

    .card-supervisor::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 0.3rem;
        background-color: var(--cyan);
    }

    .card-team-builder {
        grid-area: tb;
    }

    .card-team-builder::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 0.3rem;
        background-color: var(--red);
    }

    .card-karma {
        grid-area: k;
    }

    .card-karma::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 0.3rem;
        background-color: var(--orange);
    }

    .card-calculator {
        grid-area: c;
    }

    .card-calculator::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 0.3rem;
        background-color: var(--blue);
    }
}

/* Mobile */
@media screen and (width <= 375) {
    main {
        grid-template-areas: "s" "tb" "k" "c";
        margin-top: 0;
        gap: 0.9em;

        .card {
            max-width: 19em;
        }
    }
}

/* Desktop */
@media screen and (width >= 376) {
    p {
        font-size: 0.8em;
    }

    header {
        max-width: 35em;

        h1 {
            font-size: 1.8rem;
        }

        h2 {
            font-size: 2.2rem;
        }
    }

    main {
        grid-template-areas:
                "s tb c"
                "s k c";
        gap: 2em;

        .card {
            max-width: 30em;
        }
    }

}
